---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import getSortedPosts from '../../utils/getSortedPosts'
import BlogArticle from '../../components/cards/BlogArticle.astro'

const posts = await getCollection('blog')
const sortedPosts = getSortedPosts(posts)
---

<Layout title="Thoughts">
   <h1 class="text-md font-semibold uppercase text-pink-600">All posts</h1>
   <p>
      A collection of my thoughts, essays, learnings and other miscellaneous goodies.
   </p>
   {
      sortedPosts.map((p) => (
         <BlogArticle
            id={p.id}
            slug={p.data.postSlug}
            title={p.data.title}
            description={p.data.description}
         />
      ))
   }
</Layout>
