---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export interface Props {
   post: CollectionEntry<'blog'>
}

export async function getStaticPaths() {
   const posts = await getCollection('blog')

   const postResults = posts.map((post) => ({
      params: { slug: post.slug },
      props: { post },
   }))

   return [...postResults]
}

const { slug } = Astro.params
const { post } = Astro.props

const { Content } = await post.render()
---

<Layout title={post.data.title}>
   <h1>{post.data.title}</h1>
   <p class="prose">{post.data.description}</p>

   <Content />
</Layout>
