---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import '../../styles/markdown.css'
export interface Props {
   post: CollectionEntry<'blog'>
}

export async function getStaticPaths() {
   const posts = await getCollection('blog')

   const postResults = posts.map((post) => ({
      params: { slug: post.slug },
      props: { post },
   }))

   return [...postResults]
}

const { slug } = Astro.params
const { post } = Astro.props

const { Content } = await post.render()
---

<Layout title={post.data.title}>
   <h1>{post.data.title}</h1>
   <Content />
</Layout>

<style>
   h1 {
      @apply font-semibold text-2xl sm:text-3xl;
   }
   h2 {
      @apply font-semibold text-xl sm:text-2xl;
   }
   h3 {
      @apply font-semibold text-lg sm:text-xl;
   }
   h4 {
      @apply font-semibold text-base sm:text-lg;
   }
   h5 {
      @apply font-semibold text-sm sm:text-base;
   }
   h6 {
      @apply font-semibold text-xs sm:text-sm;
   }

   p {
      @apply mt-2 mb-6;
   }

   blockquote {
      @apply pl-4 italic border-l-4 border-slate-500;
   }

   li {
      @apply mt-2;
   }

   ol {
      @apply list-decimal ml-7;
   }
</style>
