---
import Badge from '../Badge.astro'

interface Props {
   id: string
   slug: string
   title: string
   description: string
   tags: string[]
}

const { id, slug, title, description, tags }: Props = Astro.props
---

<article
   class="group p-4 bg-white shadow-lg transition-transform duration-300 ease-in-out hover:scale-105"
>
   <a href={`blog/${slug}`}>
      <h3
         class="text-md font-semibold text-primary group-hover:text-secondary transition-colors duration-300 ease-in-out"
         transition:name={id}
      >
         {title}
      </h3>
      <div class="text-sm mt-2">
         {description}
      </div>
   </a>
</article>
