---
interface Props {
   company: string
   role: string
   timeline: string
   description: string
}

const { company, role, timeline, description } = Astro.props
---

<article>
   <h3>{company}</h3>
   <h4>{role}</h4>
   <p>{timeline}</p>
   <p>{description}</p>
</article>

