---
interface Props {
   href: string
   title: string
}

const props = Astro.props
---

<li class="flex mt-4">
   <a
      class="group flex items-center text-sm font-medium text-accent transition hover:text-secondary/80"
      href={props.href}
      target="_blank"
   >
      <slot />
      <span class="ml-4">{props.title}</span>
   </a>
</li>
