---
import ThemeToggle from "../ThemeToggle.tsx";
---

<header>
  <a href="/" class="text-2xl font-bold">Home</a>
  <a href="/about" class="text-xl">About</a>
  <ThemeToggle client:visible />
</header>
