---
import ThemeToggle from '../ThemeToggle.tsx'

const currentPath = Astro.url.pathname
const routes = [
   {
      path: '/',
      name: 'Home',
   },
   {
      path: '/about',
      name: 'About',
   },
   {
      path: '/thoughts',
      name: 'Thoughts',
   },
   {
      path: '/works',
      name: 'Works',
   },
]
---

<header
   class="sticky top-0 left-0 right-0 z-10 bg-transparent backdrop:bg-transparent backdrop-filter backdrop-blur-lg"
>
   <div class="conainer mx-auto max-w-3xl flex items-center justify-between px-4">
      <div class="space-x-2">
         {
            routes.map(({ path, name }) => (
               <a
                  href={path}
                  class={currentPath === path ? 'text-md font-bold' : 'text-md'}
               >
                  {name}
               </a>
            ))
         }
      </div>
      <ThemeToggle client:visible />
   </div>
</header>
