---
import {
   FaGithub,
   FaInstagram,
   FaLinkedin,
   FaMailBulk,
   FaTwitter,
} from 'react-icons/fa'
import ExperienceArticle from '../components/cards/ExperienceArticle.astro'
import SocialsCard from '../components/cards/SocialsCard.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
   <h1 class="text-md font-semibold text-accent my-8">About Me</h1>

   <div
      class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
   >
      <div class="lg:pl-20">
         <div class="max-w-xs px-2.5 lg:max-w-none">
            <img
               src="./profile.png"
               class="aspect-square rotate-3 rounded-2xl bg-stone-100 object-cover dark:bg-stone-900"
               sizes="(min-width: 1024px) 32rem, 20rem"
            />
         </div>
      </div>

      <div class="lg:order-first lg:row-span-2">
         <h1 class="text-4xl font-bold tracking-tight text-accent sm:text-5xl">
            I&apos;m Tim Bouma, a self-taught full-stack software developer.
         </h1>
         <div class="mt-6 space-y-7 text-base text-accent">
            <p>
               Hello! I'm Tim Bouma from De Bilt, a self-taught full-stack software
               developer with a passion for creating impactful digital solutions. My
               entry into tech was ignited by a curiosity about new IT developments.
               At Bizworx, I've build web applications using Next.js and TypeScript,
               using the potential of serverless resources on Microsoft Azure, while
               also develeping a mobile application for air freights using Flutter.
               My belief in collaboration has been my driving force, pushing me to
               not only code but synergize with other innovative minds, continuously
               evolving and expanding my skills.
            </p>
            <p>
               Outside the realm of coding, I'm an avid boulderer, a cook, and a
               barista. Each of these pursuits, especially bouldering, mirrors my
               professional journey: a blend of persistence, precision, and an desire
               for growth. In both my professional and personal life, I emphasize the
               importance of excellence and the joy of continuous learning.
            </p>
         </div>
      </div>
      <div class="lg:pl-20">
         <ul role="list">
            <SocialsCard
               title="Follow on Twitter"
               href="https://twitter.com/timbouma"
            >
               <FaTwitter />
            </SocialsCard>
            <SocialsCard
               title="Follow on Instagram"
               href="https://www.instagram.com/timbouma/"
            >
               <FaInstagram />
            </SocialsCard>
            <SocialsCard title="Follow on GitHub" href="https://github.com/Baqiwaqi">
               <FaGithub />
            </SocialsCard>
            <SocialsCard
               title="Follow on LinkedIn"
               href="https://www.linkedin.com/in/tim-bouma-74716996/"
            >
               <FaLinkedin />
            </SocialsCard>
            <SocialsCard title="Send an email" href="mailto:tim@komit.nl">
               <FaMailBulk />
            </SocialsCard>
         </ul>
      </div>
   </div>

   <section class="mt-8">
      <h2 class="text-md font-semibold uppercase text-accent">Experience</h2>
      <ExperienceArticle
         company="Komit Services"
         role="CTO & Co-founder"
         timeline="2023 - currently"
         description="As CTO and co-founder of Komit Services, I am responsible for the development of web applications for logistics industry."
         link="https://bizworx.nl/"
      />
      <ExperienceArticle
         company="Bizworx Solutions Provider"
         role="Software developer"
         timeline="2020 - 2023"
         description="In mijn huidige functie ben ik verantwoordelijk voor de ontwikkeling van webapplicaties en tools met Next.js in TypeScript. Hierbij maak ik gebruik van serverless resources op het Microsoft Azure-platform."
         link="https://bizworx.nl/"
      />
      <ExperienceArticle
         company="Bizworx Solutions Provider"
         role="Intern Software Developer"
         timeline="2020 - 2020"
         description="Als interne softwareontwikkelaar heb ik gewerkt aan de ontwikkeling van mobiele applicaties met Flutter voor de luchtvrachts."
         link="https://bizworx.nl/"
      />
      <ExperienceArticle
         company="MCH Information Solutions"
         role="Inter Software Developer"
         timeline="2019 - 2019"
         description="Als interne softwareontwikkelaar heb ik bijgedragen aan de ontwikkeling van een AI-chatbot en heb ik mijn algemene programmeerkennis uitgebreid."
         link="https://www.mch.nl/"
      />
   </section>
</Layout>
