---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import getSortedPosts from '../utils/getSortedPosts'
import WorkArticle from '../components/WorkArticle.astro'
import BlogArticle from '../components/BlogArticle.astro'

const posts = await getCollection('blog')

const sortedPosts = getSortedPosts(posts)

const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
---

<Layout title="Home">
   <img
      src="/profile.png"
      alt="Astro Logo"
      class="rounded-full h-52 w-52 object-cover mx-auto"
   />

   <section class="mt-16">
      <h2 class="text-md font-semibold uppercase text-pink-600">About me</h2>
      <p class="text-sm mt-4">
         I am Tim, a developer based in Utrecht. I like to work on projects that are
         challenging and find solutions with the most recent technologies.
      </p>
   </section>

   <section class="mt-8">
      <h2 class="text-md font-semibold uppercase text-pink-600">Recent posts</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
         {
            featuredPosts.map((p) => (
               <BlogArticle
                  id={p.id}
                  slug={p.data.postSlug}
                  title={p.data.title}
                  description={p.data.description}
               />
            ))
         }
      </div>

      <section class="mt-8">
         <h2
            class="text-lg font-semibold uppercase border-b border-stone-300 max-w-fit"
         >
            Projects
         </h2>
      </section>
   </section>
</Layout>
