---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import getSortedPosts from '../utils/getSortedPosts'
import WorkArticle from '../components/WorkArticle.astro'
import BlogArticle from '../components/BlogArticle.astro'

const posts = await getCollection('blog')

const sortedPosts = getSortedPosts(posts)

const featuredPosts = sortedPosts.filter(({ data }) => data.featured)
---

<Layout title="Home">
   <img
      src="/profile.png"
      alt="Astro Logo"
      class="rounded-full h-52 w-52 object-cover mx-auto"
   />

   <section class="mt-8">
      <h2
         class="text-lg font-semibold uppercase border-b border-stone-300 max-w-fit"
      >
         About me
      </h2>
      <p class="text-sm mt-2">
         I am Tim, a developer based in Utrecht. I like to work on projects that are
         challenging and find solutions with the most recent technologies.
      </p>
   </section>

   <section class="mt-8">
      <h2
         class="text-lg font-semibold uppercase border-b border-stone-300 max-w-fit"
      >
         Experience
      </h2>
      <WorkArticle
         company="Bizworx Solutions Provider"
         role="Software developer"
         timeLine="2020 - currently"
         description="In mijn huidige functie ben ik verantwoordelijk voor de ontwikkeling van webapplicaties en tools met Next.js in TypeScript. Hierbij maak ik gebruik van serverless resources op het Microsoft Azure-platform."
      />
      <WorkArticle
         company="Bizworx Solutions Provider"
         role="Intern Software Developer"
         timeLine="2020 - 2020"
         description="Als interne softwareontwikkelaar heb ik gewerkt aan de ontwikkeling van mobiele applicaties met Flutter voor de luchtvrachts."
      />
      <WorkArticle
         company="MCH Information Solutions"
         role="Inter Software Developer"
         timeLine="2019 - 2019"
         description="Als interne softwareontwikkelaar heb ik bijgedragen aan de ontwikkeling van een AI-chatbot en heb ik mijn algemene programmeerkennis uitgebreid."
      />
   </section>

   <section class="mt-8">
      <h2
         class="text-lg font-semibold uppercase border-b border-stone-300 max-w-fit"
      >
         Recent posts
      </h2>
      {
         featuredPosts.map((p) => (
            <BlogArticle
               id={p.id}
               slug={p.data.postSlug}
               title={p.data.title}
               description={p.data.description}
            />
         ))
      }
   </section>

   <section class="mt-8">
      <h2
         class="text-lg font-semibold uppercase border-b border-stone-300 max-w-fit"
      >
         Projects
      </h2>
   </section>
</Layout>
