---
interface Props {
   company: string
   role: string
   timeLine: string
   description: string
}

const { company, role, timeLine, description } = Astro.props
---

<article class="my-4">
   <h3 class="text-lg font-semibold">{company}</h3>
   <h4 class="text-md italic">{role} | {timeLine}</h4>
   <p class="text-sm">{description}</p>
</article>
